opendata.dwd.de/*
geodata/koordinaten-radarverbund.pdf

radargauge-env/*

code/__pycache__/*
code/grid_xy.txt
code/gridded.txt

images/radar_dx_umd*
images/radar_dx_pro*
images/radar_dx_neu*
images/radar_dx_eis*